{% if data.share_count is not empty %}
<p>There are currently <strong>{{ data.share_count }}</strong> users sharing their collections.
    The most items currently in a collection is <strong>{{ data.share_max }}</strong> items.</p>
{% endif %}
