<ul class="menu_list">
    <li><a href="/vault/browse/range" title="Browse by Range">Browse by Range</a></li>
    <li><a href="/vault/browse/type" title="Browse by Type">Browse by Type</a></li>
    <li><a href="/vault/browse/year" title="Browse by Year">Browse by Year</a></li>
</ul>